{% extends 'layout.html' %}

{% block body %}
    <img src="{{course.photo.url }}" alt="background photo" style="width: 100%;">
    <h2>{{course.name}}</h2>
    {% if not user.techer %}
        {% if course.is_started %}
            <a href="{% url 'student_enroll' course.id %}" style="border: 2px black solid;">enroll</a>
        {% else %}
            <p style="border: 2px black solid;">start in {{ course.start_date }}</p>
        {% endif %}
    {% endif %}
        
    {% if user.is_authenticated %}
        {% if user.techer == course.teacher %}
            <a href="{% url 'unit_create' course.id %}">add unit</a>
        {% endif %}
    {% endif %}

    <p>By: {{course.teacher}}</p>
    <p>{{ course.student.count }} already enrolled</p>

    <p>units:{{course.unit_set.count}} | review:{{course.review}} star | stage:{{course.stage}} | duration:{{course.duration}}</p>    
    <hr>
    
    <h4>About</h4>
    <p>{{course.about}}</p>
    <h4>Skills you will learn</h4>
    <ul>
        {% for skill in course.skill.all %}
            <li>{{skill}}</li>
        {% endfor %}
    </ul>
    <h4>Detailes</h4>
    <p>
        {% if course.cirtification %}
        cirtification: <a href="{{ course.cirtification.url }}">cirtification</a>
        {% endif %} | exams: {{course.exam_count}}</p>
    <h4>units</h4>
    <ul>
        {% for unit in course.unit_set.all %}
            <li style="border: 1px solid black; width: fit-content; margin: 2px;"><a href="{% url 'unit_detail' unit.id %}">{{unit.name}}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <p>created on : {{course.create_date}}</p>
    <p>review form {{course.review}} stars</p>

{% endblock %}
