{% extends 'layout.html' %}

{% block body %}
    <h2>{{course.name}}</h2>
    {% if course.is_started %}
        {% if user.is_authenticated %}
            {% if user.student %}
                <a href="{% url 'student_enroll' course.id %}">enroll</a>
            {% endif %}
        {% endif %}
    {% else %}
        <p>start in {{ course.start_date }}</p>
    {% endif %}
        {% if user.techer == course.teacher %}
            <a href="{% url 'unit_create' course.id %}">add unit</a>
        {% endif %}
    <p>{{course.teacher}}</p>

    <ul>
        {% for skill in course.skill.all %}
            <li>{{skill}}</li>
        {% endfor %}
    </ul>
    <p>units:</p>
    <ul>
        {% for unit in course.unit_set.all %}
            <li><a href="{% url 'unit_detail' unit.id}">{{unit.name}}</a></li>
        {% endfor %}
    </ul>
    <p>{{course.stage}}</p>
    <p>{{course.duration}}</p>
    <p>{{course.about}}</p>
    <p>{{course.create_date}}</p>
    <p>{{course.review}} stars</p>

{% endblock %}
