{% extends 'layout.html' %}

{% block body %}
    <img src="{{course.photo.url }}" alt="background photo" style="width: 100%;">
    <h2>{{course.name}}</h2>
    {% if course.is_started %}
        <a href="{% url 'student_enroll' course.id %}" style="border: 2px black solid;">enroll</a>
    {% else %}
        <p style="border: 2px black solid;">start in {{ course.start_date }}</p>
    {% endif %}
        
    {% if user.is_authenticated %}
        {% if user.techer == course.teacher %}
            <a href="{% url 'unit_create' course.id %}">add unit</a>
        {% endif %}
    {% endif %}

    <p>{{course.teacher}}</p>
    <p>{{ course.student.count }} already enrolled</p>
    <hr>

    <p>units:{{course.unit_set.count}} | review:{{course.review}} star | stage:{{course.stage}}</p>    
    <hr>
    
    <h4>About</h4>
    <p>Skills you will learn</p>
    <ul>
        {% for skill in course.skill.all %}
            <li>{{skill}}</li>
        {% endfor %}
    </ul>
    <p>units:</p>
    <ul>
        {% for unit in course.unit_set.all %}
            <li><a href="{% url 'unit_detail' unit.id %}">{{unit.name}}</a></li>
        {% endfor %}
    </ul>
    <p>{{course.stage}}</p>
    <p>{{course.duration}}</p>
    <p>{{course.about}}</p>
    <p>{{course.create_date}}</p>
    <p>{{course.review}} stars</p>

{% endblock %}
