{% extends 'layout.html' %}

{% block body %}
     {% block teacher %}
     {% endblock %}
     {% block student %}
     {% endblock %}
     {% if stage_list %}
          <h4>stages:</h4>
          <ul>
               {% for stage in stage_list %}
                    <li>{{stage}}</li>
               {% endfor %}
          </ul>
     {% endif %}
     {% if sections %}
          <h4>sections</h4>
          <ul>
               {% for section in sections %}
               <li><a href="{% url 'section_details' section.id %}">{{ section }}</a></li>
               {% endfor %}
          </ul>
     {% endif %}
     {% if skills %}
          <h4>skills</h4>
          <ul>
               {% for skill in skills %}
               <li><a href="#">{{ skill }}</a></li>
               {% endfor %}
          </ul>
     {% endif %}
     {% if courses %}
          <h4>courses</h4>
          <ul>
               {% for course in courses %}
               <li style="border: black solid 3px; margin: 5px; width: fit-content;">
                    <img src="{{ course.photo.url }}" width="250px" alt="course background photo">
                    <p>{{ course.teacher }}</p>
                    <a href="{% url 'course_detail' course.id %}"><h3>{{ course.name }}</h3></a>

               </li>
               
               {% endfor %}
          </ul>
     {% endif %}
{% endblock %}
