{% extends 'layout.html' %}

{% block body %}
    {% if massage %}
        <h2>{{massage}}</h2>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="log in">
    </form>
    <h4>Join Us</h4>
    <p>Become a partner<a href="{% url 'teacher_register' %}">sign up</a></p>
    <p>Learn more about your interests <a href="{% url 'student_register' %}">sign up</a></p>
{% endblock %}