{% extends 'index.html' %}

{% block student %}
    <h1>hi dear student: {{user}}</h1>
    <h4>your stage </h4><p>{{user.stage}}</p>
    {% if user.student.course_set.all %}
        <h4>your enrolled courses:</h4>
        <ul>
            {% for course in user.student.course_set.all %}
                <li><a href="{% url 'course_detail' course.id %}">{{course.name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>you haven't any groups</h4>
    {% endif %}
{% endblock %}
