{% extends 'index.html' %}

{% block teacher %}
    <h1>hi Mr.: {{user}}</h1>
    <p>your stage {{user.stage}}</p>
    {% if not user.techer.activation %}
        <a href="{% url 'teacher_detail_entry' user.id %}">please complete your profile </a>
    {% else %}
        {% if not user.techer.acceptation %}
            <p>please wait until you get accepted that may take 1-2 days</p>
        {% else %}
            <a href="{% url 'group_creation' %}">create group</a>
            <a href="{% url 'course_create' %}">create course</a>
            {% if user.techer.groub_set %}
            <h4>your gorups:</h4>
            <ul>
                {% for group in user.techer.groub_set.all %}
                    <li><a href="{% url 'group_details' group.id %}">{{group.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <h4>you haven't any groups</h4>
            {% endif %}
        {% endif %}
    {% endif %}


{% endblock %}
