{% extends 'index.html' %}

{% block teacher %}
    <h1>hi Mr.: {{teacher}}</h1>
    <p>your stage {{teacher.user.stage}}</p>
    {{s}}
    <iframe src="" frameborder="0"></iframe>
    {% if not teacher.activation %}
        <a href="{% url 'teacher_detail_entry' teacher.id %}">please complete your profile </a>
    {% else %}
        {% if not teacher.acceptation %}
            <p>please wait until you get accepted that may take 1-2 days</p>
        {% else %}
            <a href="{% url 'group_creation' %}">create group</a>
            <a href="{% url 'course_create' %}">create course</a>
            {% if teacher.groub_set %}
            <h4>your courses:</h4>
            <ul>
                {% for course in teacher.course_set.all %}
                    <li><a href="{% url 'course_detail' course.id %}">{{course.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <h4>you haven't any courses</h4>
            {% endif %}
        {% endif %}
    {% endif %}


{% endblock %}
