{% extends 'layout.html' %}

{% block body %}
<h2>{{unit.name}}</h2>
<p>{{unit.goal}}</p>
<h3>What's included</h3>
<p>videos: {{unit.get_video_count}} | read: {{unit.get_read_count}}</p>
<hr>
<h4>video</h4>
<ul>
    {% for lesson in unit.lesson_set.all %}
        {% if lesson.video %}
        <li><a href="{{lesson.video.url}}">{{lesson.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h4>read</h4>
<ul>
    {% for lesson in unit.lesson_set.all %}
        {% if lesson.read %}
        <li><a href="{{lesson.read.url}}">{{lesson.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% if user.id == unit.course.teacher.id %}
<a href="{% url 'lesson_create' unit.id %}">add lesson</a>
{% endif %}
{% endblock %}
